<nav class="navbar">
  <ul class="flex flex-row gap-8 bg-sky-600 p-4 justify-items items-center">
    <a href="/home"><li>Home</li></a>
    <p class="m-auto text-xl">This is a blog web app</p>
  </ul>
</nav>
